.header {
  padding: 20px;
  border-bottom: 1px solid rgba(117, 117, 117, 0.7);
  margin-bottom: 10px;
}

.navLink {
  color: black;
  margin-right: 20px;
  font-weight: 700;
}

.selected {
  color: rgb(155, 82, 82);
}
