.linkCast {
  margin-right: 20px;
}

.cast {
  display: flex;
}

.movieDescr {
  margin-left: 20px;
}

.paperMovie {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  border-top: 1px solid rgba(58, 53, 53, 0.4);
  border-bottom: 1px solid rgba(58, 53, 53, 0.4);
}
